# Исключаем все каталоги __pycache__ в проекте
__pycache__/

# Исключаем файлы кэша Python
*.pyc
*.pyo
*.pyd

# Исключаем виртуальные окружения
.venv/
env/

# Исключаем файлы конфигурации IDE и другие временные файлы
.vscode/
.idea/
*.swp
*.swo
*.log

# Исключаем папки с настройками и данными
.env