<!DOCTYPE html>
<html>

<head>
    <title>Weather Cast</title>
</head>

<body>
    <div>
        <div>
            Введите город, в котором хотели бы посмотреть погоду
        </div>
        <input type="text" id="search-input" placeholder="Enter text">
        <ul id="suggestions"></ul>
        <button id="get-weather">Получить погоду на 7 дней</button>

        <script>
            var searchInput = document.getElementById('search-input');
            var suggestionsList = document.getElementById('suggestions');

            searchInput.addEventListener('input', function () {
                var query = this.value;
                fetch('/suggestions?query=' + query)
                    .then(response => response.json())
                    .then(data => {
                        suggestionsList.innerHTML = '';
                        data.forEach(city => {
                            var li = document.createElement('li');
                            li.className = 'suggestion';
                            li.textContent = city;
                            li.addEventListener('click', function () {
                                searchInput.value = this.textContent;
                                suggestionsList.innerHTML = '';
                            });
                            suggestionsList.appendChild(li);
                        });
                    });
            });
            var weatherButton = document.getElementById('get-weather');
            weatherButton.onclick = function() {
                window.location.href = ("/weather?city="+searchInput.value);
            }
        </script>
    </div>
</body>

</html>