<!DOCTYPE html>
<html lang="ru">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз погоды</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="wrapper">
    <div class="container">
        <div class="today-card">
            <div class="today-card-container">
                <div class="today-card-header">
                    <div class="today-card-title">
                        {{city.name}}
                    </div>
                    <div class="today-card-date">
                        сегодня, {{date.date}}
                    </div>
                </div>
                
            </div>
            
        </div>
        <div class="weather-container">
            {% for day in forecast %}
            <div class="day-cast-card">
                <img src="http://openweathermap.org/img/wn/11n.png">
                <div class="date-text">{{day.day}}</div>
                <div class="rotate-rectangle date"></div>
                <div class="rotate-rectangle day">
                    <div class="sun"></div>
                </div>
                <div class="temp-day">{{day.temperature_2m_max}}°</div>
                <div class="rotate-rectangle night">
                    <div class="moon"></div>
                </div>
                <div class="temp-night">{{day.temperature_2m_min}}°</div>
                <div class="descr-container">
                    <div class="descr precipitation">вероятность осадков {{day.precipitation_probability_mean}}%</div>
                    <div class="descr wind-speed">скорость ветра {{day.wind_speed_10m_max}} м/с</div>
                    <div class="descr wind-speed-max">с порывами до {{day.wind_gusts_10m_max}} м/с</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    </div>
    
</body>

</html>